<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Note App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white">
  <div class="main w-full min-h-screen flex flex-col items-center justify-center p-4 space-y-8">
   
    <div class="form bg-zinc-800 p-6 rounded-xl shadow-lg w-full max-w-md">
        <a
        class="text-blue-500 hover:text-blue-400 underline underline-offset-2 inline-block mb-5 transition duration-200"
        href="/"
      >
        ← Go Back to Home
      </a>
      <form action="/edit" method="POST" class="flex flex-col space-y-4">
        <input
          class="block w-full px-4 py-2 rounded-md bg-zinc-700 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          type="text"
          placeholder="Previous name"
          name="previous"
          value="<%= filename %>"
          
        />

        <input
        class="block w-full px-4 py-2 rounded-md bg-zinc-700 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        type="text"
        placeholder="New name"
        name="new"
      />
      
        <input
          class="bg-yellow-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-md cursor-pointer transition duration-300"
          type="submit"
          value="Update Filename"
        />
      </form>
        
    </div>

  </div>
</body>
</html>
